.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/*Colors-Start*/
.background-color_black {
  background-color: #1f1f1f;
}

.background-color_gray {
  background-color: #f2f2f2;
}

.background-color_blue {
  background-color: #2f80ed;
}

.font-color_black {
  color: #000;
}

.font-color_white {
  color: white;
}

.font-color_blue {
  color: #2f80ed;
}
/*Colors-End*/


/*Header-Start*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  box-sizing: border-box;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative;
}

.logo_place_header {
  width: 183px;
  height: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo_z-position_top {
  z-index: 1000;
}

.header__title {
  width: 730px;
  box-sizing: border-box;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  padding-left: 64px;
  margin: 0;
  z-index: 999;
}

.header__subtitle {
  width: 388px;
  box-sizing: border-box;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  z-index: 998;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  box-sizing: border-box;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}
/*Header-End*/


/*Description-Start*/
.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.two-columns__brief {
  width: 175px;
  box-sizing: border-box;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_position_middle {
  padding: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
/*Description-End*/


/*Digits-Start*/
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  position: relative;
}

.section-title {
  margin: 0;
  width: 60%;
  box-sizing: border-box;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  width: 1100px;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  margin: 0;
  padding-top: 60px;
  width: 250px;
  box-sizing: border-box;
  color: #000;
}

.table__heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__footer-text {
  padding: 0;
}
/*Digits-End*/


/*Feynman-Start*/
.feynman {
  height: 890px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.feynman__title {
  margin: 0;
  padding-top: 100px;
  width: 648px;
  box-sizing: border-box;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
  padding-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  width: 867px;
  height: 637px;
  box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
}
/*Feynman-End*/


/*Kaufman-Start*/
.kaufman {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 0;
  width: 60%;
  box-sizing: border-box;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  margin: 0;
  width: 60%;
  box-sizing: border-box;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  z-index: 1;
}

.table_theme_dark {
  margin: 0;
  width: 1100px;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
  border: red;
}

.table__heading_theme_dark {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  box-sizing: border-box;
  position: absolute;
  right: -210px;
  top: 0;
}
/*Kaufman-End*/


/*Footer-Start*/
.footer {
  min-height: 350px;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.footer__columns {
  width: 90%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 0;
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 0;
  list-style: none;
  padding: 0 0 16px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  box-sizing: border-box;
}
/*Footer-End*/
